.box-layout {
    background: url('/images/bg.jpg');
    background-size: cover; /* stretch/shrink image to cover background */
    display: flex; /* for below class to be centered */
    justify-content: center; /* for below class to be centered */
    align-items: center; /* for below class to be centered */
    height: 100vh;   /*100% of viewport height*/
    width: 100vw;  /*100% of viewport width*/
}

.box-layout__box {
    background: fade-out(white, .15); /*scss fadeout (transparent), white with 15% */
    border-radius: 3px; /*soften the border*/
    text-align: center;
    width: 25rem;
    padding: $l-size $m-size; /*top/bottom padding, left/right padding */
}

.box-layout__title {
    margin: 0 0 $m_size 0;   /*top/right/bottom/left*/
    line-height: 1; /*evenly distribute above and below */
    
}